<app-header></app-header>
<router-outlet></router-outlet>

<button class="load-image" (click)="loadImage()">Load Todays Picture</button>
<ng-container *ngIf="apods.length">
  <ng-container *ngFor="let apod of apods; let i = index">
      <button class="load-image" (click)="deleteImage(i)">Remove Todays Picture</button>
      <button class="load-image" (click)="updateImage(apod, i)">Update Title</button>
      <img class="image" [src]="apod.hdurl" alt="Space Picture">
      <h1>{{apod.title}}</h1>
      <p>{{apod.explanation}}</p>
  </ng-container>
</ng-container>
